@model UpdatePageViewModel
@{
    ViewData["Title"] = "UpdatePage";
    Layout = "~/Views/AdminLayout/_Adminlayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="PageId" />
    
    <label>Content ID</label>
    <input type="text" asp-for="ContentId" class="form-control" />
    <label>Menu Order</label>
    <input type="text" asp-for="MenuOrder" class="form-control" />
    <label>Is Active?</label>
    <input type="checkbox" asp-for="IsActive" class="form-control" />
    <button class="btn btn-outline-success">Update Page</button>


</form>

