<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Article/Index/" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Content</span>
                </a>
            </li>
            <li>
                <a href="/Page/Index/" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Page</span>
                </a>
            </li>
            <li>
                <a href="/Layout/Index/" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Layout</span>
                </a>
            </li>
            <li>
                <a href="/Form/Index/" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Form</span>
                </a>
            </li>
            <li>
                <a href="/Test/Index/" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Test Sayfam</span>
                </a>
            </li>
        </ul>
    </div>
</div>